.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ch {
    border: 0px;
    width: 165px;
}

th,td{
    border: 0.5px solid black;
    padding: 5px;
    width: 115px;
}

#data {
    margin-bottom: 10px;   
}

#data input{
    padding: 10px;
    width: 100px;
}

#data button{
    padding: 10px;
    width: 50px;
    margin: 10px;
}


