body {
    background:#c3aed6;
}

h1{
    text-align: center;
    background-color: #ffd5cd;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#ch {
    border: 0px;
    width: 165px;
    background-color: #c3aed6;
}

th,td{
    background-color: #8675a9;
    border: 0.5px solid #8675a9;
    padding: 5px;
    width: 115px;

}

#data {
    margin-bottom: 10px;   
}

#data input{
    padding: 10px;
    width: 100px;
}

#data button{
    padding: 10px;
    width: 50px;
    margin: 10px;
}


